# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environnements
.venv/
venv/

# Data & artifacts (on ignore tout sauf .gitkeep)
data/*
!data/**/.gitkeep

models/*
!models/**/.gitkeep

logs/*
!logs/**/.gitkeep

runs/
wandb/
mlruns/

# OS / editors
.DS_Store
.vscode/
.venv/
__pycache__/
*.pyc
results/
