# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
mm-rl/
mm-rl-backup/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc

# Artifacts
logs/
data/processed/
models/
