# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
mm-rl/
mm-rl-backup/

# Jupyter
.ipynb_checkpoints/

# LaTeX
# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

reports/report/build/
# Artifacts
logs/
data/processed/
models/
logs/